@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$group-item-font-color-hover: #0078d4;

details {
  padding-top: 0.15rem;

  summary {
    padding-bottom: 0.15rem;

    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    text-decoration-skip-ink: none;

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      color: $group-item-font-color-hover;
      text-decoration: underline;
    }

    &.menu-opened {
      color: $group-item-font-color-hover;
      text-decoration: underline;
    }

    .svg-icon {
      margin-right: 0.25rem;
      height: 1rem;
      width: 1rem;
      transition: transform 0.25s;
    }

    .group-text {
      padding-top: 1px;
    }
  }

  #group-items {
    padding-left: 1.2rem;
  }

  &[open] {
    summary {
      .svg-icon {
        transform: rotate(90deg);
        top: 0.22rem;
        left: 0.18rem;
      }
    }
  }
}
