$circle-bg-color: #0a3981;
$circle-font-color: #fffffb;
$circle-border-color: #0a3981;
$circle-bg-color-hover: #fffff8;
$circle-font-color-hover: #0a3981;
$circle-border-color-hover: #0a3981;
$circle-shodow-color: rgba(0, 0, 0, 0.1);

$square-font-color: #afafaf;
$square-bg-color: #fffff8;
$square-border-color: #afafaf;
$square-font-color-hover: #0a3981;
$square-border-color-hover: #0a3981;

$hover-before-color: #8f8f8f;
$hover-bg-color: transparent;

$red: #d84040;
$green: #0e7405;
$blue: #003092;
$white: #fffffb;
$black: #000000;

$tooltip-color: #fffffb;
$tooltip-bg-color: #2f2f2f;

button {
  position: relative;

  &.circle {
    z-index: 99999;
    color: $circle-font-color;
    background-color: $circle-bg-color;
    border: 1px solid $circle-border-color;
    box-shadow: 0px 3px 3px 0px $circle-shodow-color;

    padding: 0.5rem;
    border-radius: 50%;

    transition: 0.2s;

    &:hover {
      color: $circle-font-color-hover;
      background-color: $circle-bg-color-hover;
      border-color: $circle-border-color-hover;
    }

    .svg-icon {
      font-size: 1.8rem;
    }

    &.red {
      background-color: $red;
      border-color: $red;

      &:hover {
        color: $red;
        background-color: $circle-bg-color-hover;
        border-color: $red;
      }
    }
  }

  &.square {
    width: 100%;
    border-radius: 0.25rem;
    border: 2px dashed $square-border-color;
    color: $square-font-color;
    background-color: $square-bg-color;
    padding: 0.5rem;

    transition: 0.2s;

    .svg-icon {
      margin: 0 auto;
      font-size: 1.8rem;
      font-weight: bold;

      color: $square-font-color;
      background-color: $square-bg-color;
      border: 2px dashed $square-border-color;

      height: 2.5rem;
      width: 2.5rem;
      padding: 0.5rem;
      border-radius: 50%;

      transition: 0.2s;
    }

    &:hover {
      border-color: $square-border-color-hover;

      .svg-icon {
        color: $square-font-color-hover;
        border-color: $square-border-color-hover;
      }
    }
  }

  &.static {
    &.red {
      color: $red;
    }

    &.green {
      color: $green;
    }

    &.blue {
      color: $blue;
    }

    &.white {
      color: $white;
    }

    &.black {
      color: $black;
    }
  }

  &.hover {
    color: $hover-before-color;
    border-radius: 0.25rem;

    transition: 0.2s;

    &.red {
      &:hover {
        color: $red;
        background-color: $hover-bg-color;
      }
    }

    &.green {
      &:hover {
        color: $green;
        background-color: $hover-bg-color;
      }
    }

    &.blue {
      &:hover {
        color: $blue;
        background-color: $hover-bg-color;
      }
    }

    &.white {
      &:hover {
        color: $white;
        background-color: $hover-bg-color;
      }
    }

    &.black {
      &:hover {
        color: $black;
        background-color: $hover-bg-color;
      }
    }
  }

  &.toggle {
    color: $hover-before-color;

    &.toggle-on {
      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }

      &.blue {
        color: $blue;
      }

      &.white {
        color: $white;
      }

      &.black {
        color: $black;
      }
    }
  }
}
