@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$circle-bg-color: #0a3981;
$circle-font-color: #fffffb;
$circle-border-color: #0a3981;
$circle-bg-color-hover: #fffff8;
$circle-font-color-hover: #0a3981;
$circle-border-color-hover: #0a3981;
$circle-shodow-color: rgba(0, 0, 0, 0.1);

$hover-before-color: #8f8f8f;
$hover-bg-color: #fdfbee;

$red: #d84040;
$green: #0e7405;
$blue: #003092;
$white: #fffffb;
$black: #000000;

$tooltip-color: #fffffb;
$tooltip-bg-color: #2f2f2f;

button {
  position: relative;

  &.circle {
    z-index: 99999;
    color: $circle-font-color;
    background-color: $circle-bg-color;
    border: 1px solid $circle-border-color;
    box-shadow: 0px 3px 3px 0px $circle-shodow-color;

    padding: 0.5rem;
    border-radius: 50%;

    transition: 0.2s;

    &:hover {
      color: $circle-font-color-hover;
      background-color: $circle-bg-color-hover;
      border-color: $circle-border-color-hover;
    }

    .svg-icon {
      font-size: 1.8rem;
    }
  }

  &.hover {
    color: $hover-before-color;
    border-radius: 0.25rem;

    transition: 0.2s;

    &.red {
      &:hover {
        color: $red;
        background-color: $hover-bg-color;
      }
    }

    &.green {
      &:hover {
        color: $green;
        background-color: $hover-bg-color;
      }
    }

    &.blue {
      &:hover {
        color: $blue;
        background-color: $hover-bg-color;
      }
    }

    &.white {
      &:hover {
        color: $white;
        background-color: $hover-bg-color;
      }
    }

    &.black {
      &:hover {
        color: $black;
        background-color: $hover-bg-color;
      }
    }
  }

  &.toggle {
    color: $hover-before-color;

    &.toggle-on {
      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }

      &.blue {
        color: $blue;
      }

      &.white {
        color: $white;
      }

      &.black {
        color: $black;
      }
    }
  }
}
