@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfiled;
          appearance: textfiled;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows: 40px 1fr 25px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grid-area--header" "grid-area--contents" "grid-area--footer";
  height: 100vh;
}
.container .grid-area--header {
  grid-area: grid-area--header;
  background-color: #3c3c3c;
  position: relative;
}
.container .grid-area--contents {
  grid-area: grid-area--contents;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #fffff8;
}
.container .grid-area--contents::-webkit-scrollbar {
  width: 8px;
  background-color: #eaeaea;
  border: none;
}
.container .grid-area--contents::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #707070;
  border: solid 1px transparent;
}
.container .grid-area--footer {
  grid-area: grid-area--footer;
  background-color: #007acc;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}
.icon use {
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal.hidden {
  display: none;
}
.modal .filer {
  border-radius: 0.5rem;
  background-color: #024caa;
  color: #bcbcc0;
}
.modal .filer #btn_open {
  display: flex;
  line-height: 50px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.modal .filer #btn_open .icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.modal .filer #btn_open .icon#btn-icon-open {
  display: none;
}
.modal .filer:hover {
  background-color: #006bff;
  color: #fffffb;
}
.modal .filer:hover #btn_open .icon#btn-icon-normal {
  display: none;
}
.modal .filer:hover #btn_open .icon#btn-icon-open {
  display: block;
}

.box-drawerMenu {
  position: absolute;
  height: 100%;
  padding-left: 2px;
}
.box-drawerMenu button {
  height: 100%;
  color: #bcbcc0;
}
.box-drawerMenu button .icon {
  height: 25px;
  width: 25px;
}
.box-drawerMenu button:hover {
  color: #fffffb;
}

#drawer_left {
  position: fixed;
  z-index: calc(infinity);
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  color: #fffffb;
  background-color: #4c4c4c;
  transition: left 0.5s ease-in-out;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#drawer_left::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  background-color: #eaeaea;
  border: none;
}
#drawer_left::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px #707070;
  border: solid 1px transparent;
}
#drawer_left.show {
  left: 0;
}
#drawer_left .drwaer-control {
  border-bottom: 1px solid #7c7c7c;
}
#drawer_left .drwaer-control button {
  width: 30px;
  height: 30px;
  padding: 2px;
}
#drawer_left .drwaer-control button:hover {
  color: #fffffb;
}
#drawer_left .drwaer-control button icon {
  width: 26px;
  height: 26px;
}
#drawer_left .list-file--csv .btn-fileopen {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px 5px;
  border-bottom: 1px solid #7c7c7c;
}
#drawer_left .list-file--csv .btn-fileopen:hover {
  background-color: #6c6c6c;
}
#drawer_left .list-file--csv .btn-fileopen .icon {
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-right: 5px;
}
#drawer_left .list-file--csv .btn-fileopen .text-filename {
  font-size: 0.8rem;
  line-height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 50%;
  padding: 6px 0;
  color: #bcbcc0;
}
.box-search button {
  position: absolute;
  width: 20px;
  height: 27px;
}
.box-search button .icon {
  width: 20px;
  height: 20px;
}
.box-search button#btn_search--detail {
  left: 5px;
}
.box-search button#btn_search--cancel {
  right: 5px;
}
.box-search button:hover {
  color: #fffffb;
}
.box-search input {
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid #5c5c5c;
  font-size: 0.8rem;
  line-height: 25px;
  width: 100%;
  padding: 0 30px;
}
.box-search input:focus {
  border-color: #7c7c7c;
}

.box-csv #table_csv.filter-on tbody tr {
  display: none;
}
.box-csv #table_csv.filter-on tbody tr.visible {
  display: table-row;
}
.box-csv table {
  table-layout: auto;
  width: 100%;
  font-size: 0.9rem;
}
.box-csv table thead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #347928;
  color: #fffffb;
}
.box-csv table thead tr th {
  padding: 0.5rem 0.25rem;
}
.box-csv table tbody tr:hover {
  background-color: #fef3e2;
}
.box-csv table tbody tr td {
  cursor: pointer;
  vertical-align: middle;
  padding: 0.25rem;
  border-bottom: 1px solid #cfcfcf;
}
.box-csv table tbody tr td:not(:first-child) {
  border-left: 1px solid #cfcfcf;
}
.box-csv table tbody tr td:hover {
  color: #fffffb;
  background-color: #fab12f;
}
.box-csv table tbody tr td ul li.cell-list--1 {
  padding-left: 0rem;
}
.box-csv table tbody tr td ul li.cell-list--1::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--2 {
  padding-left: 0.9rem;
}
.box-csv table tbody tr td ul li.cell-list--2::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--3 {
  padding-left: 1.8rem;
}
.box-csv table tbody tr td ul li.cell-list--3::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--4 {
  padding-left: 2.7rem;
}
.box-csv table tbody tr td ul li.cell-list--4::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--5 {
  padding-left: 3.6rem;
}
.box-csv table tbody tr td ul li.cell-list--5::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--6 {
  padding-left: 4.5rem;
}
.box-csv table tbody tr td ul li.cell-list--6::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--7 {
  padding-left: 5.4rem;
}
.box-csv table tbody tr td ul li.cell-list--7::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--8 {
  padding-left: 6.3rem;
}
.box-csv table tbody tr td ul li.cell-list--8::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--9 {
  padding-left: 7.2rem;
}
.box-csv table tbody tr td ul li.cell-list--9::before {
  content: "┗";
}
.box-csv table tbody tr td ul li.cell-list--10 {
  padding-left: 8.1rem;
}
.box-csv table tbody tr td ul li.cell-list--10::before {
  content: "┗";
}
.box-csv table tbody tr td a {
  text-decoration: underline;
  color: #3d3bf3;
}

.box-footer {
  display: flex;
  font-size: 0.8rem;
  padding: 0 0.25rem;
  color: #fffffb;
}
.box-footer .footer-item {
  display: flex;
  margin-right: 15px;
}
.box-footer .footer-item .icon {
  margin-top: 4px;
  margin-right: 3px;
  width: 17px;
  height: 17px;
}
.box-footer .footer-item span {
  line-height: 22px;
  margin-top: 3px;
}/*# sourceMappingURL=style.css.map */