.color1 {
  background-color: #65d6db;
}

.color2 {
  background-color: #fe8c8e;
}

.color3 {
  background-color: #ff9250;
}

.color4 {
  background-color: #b7d564;
}

.color5 {
  background-color: #ffb8c9;
}

.color6 {
  background-color: #41b3a2;
}

.color7 {
  background-color: #d7c3f1;
}

.color8 {
  background-color: #ecda4c;
}

.color9 {
  background-color: #f0dcdc;
}

.color10 {
  background-color: #b17457;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "control-area add-area" "whitebord-area whitebord-area";
  height: 100vh;
}
.container .button-list {
  display: flex;
}
.container .button-list li {
  width: 45px;
  height: 40px;
  border: 3px solid #686d76;
  border-radius: 0.5rem;
  align-content: center;
  margin: 0 0.3rem;
}
.container .button-list li .icon {
  margin: 0 auto;
}
.container .button-list li:hover {
  border-color: #fffffb;
}
.container .button-list li:hover {
  cursor: pointer;
}
.container .control-area {
  grid-area: control-area;
  background-color: #686d76;
}
.container .control-area#control {
  padding: 10px 0;
  line-height: 40px;
}
.container .control-area#control .button-list li {
  background-color: #4379f2;
  color: #fffffb;
  font-size: 1.5rem;
}
.container .add-area {
  grid-area: add-area;
  background-color: #686d76;
}
.container .add-area#add {
  padding: 10px 0;
  line-height: 40px;
}
.container .add-area#add .button-list {
  justify-content: right;
}
.container .whitebord-area {
  grid-area: whitebord-area;
  width: 100%;
  height: 100%;
  background-color: #686d76;
  border-top: 1px solid #cccccc;
}
.container .whitebord-area#whitebord {
  position: relative;
  overflow: hidden;
  padding: 1rem;
}
.container .whitebord-area#whitebord .message-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 300px;
  height: 60px;
  line-height: 60px;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fffffb;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container .whitebord-area#whitebord .message-box.fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}
.container .whitebord-area#whitebord .post-it-root {
  position: absolute;
  cursor: move;
  width: 300px;
  height: 200px;
  border: 1px solid #373a40;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.container .whitebord-area#whitebord .post-it-root .edit-item {
  cursor: move;
  outline: none;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main {
  display: grid;
  grid-template-columns: 1fr 35px;
  grid-template-rows: 35px 1fr 35px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "area-title area-archive" "area-descrption area-descrption" "area-due-date area-due-date";
  height: 100%;
  padding: 0 5px;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-title {
  grid-area: area-title;
  line-height: 35px;
  font-weight: bold;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-title input {
  width: 100%;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-descrption {
  grid-area: area-descrption;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-descrption textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 0.9rem;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-due-date {
  grid-area: area-due-date;
  line-height: 30px;
  font-size: 0.8rem;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-archive {
  grid-area: area-archive;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 0;
}
.container .whitebord-area#whitebord .post-it-root .post-it-main .area-archive .archiveButton:hover {
  color: #c7253e;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #eaeaea;
  border: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px #707070;
  border: solid 4px transparent;
}/*# sourceMappingURL=post-it.css.map */