@use "../foundation/color";

.modal-area--root {
  &.hidden {
    display: none;
  }

  position: absolute;
  top: 0;
  left: 0;

  z-index: 9999;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color.$modal-bgColor;

  .box-filer--open {
    $btn-size: 50px;

    border-radius: 0.5rem;
    background-color: color.$btn-bgColor-deactive;
    color: color.$color-deactive;

    #btn_dir--open {
      display: flex;
      line-height: $btn-size;
      padding: 1rem 2rem;
      font-size: 1.5rem;

      .icon {
        width: $btn-size;
        height: $btn-size;
        margin-right: 10px;

        &#btn-icon-open {
          display: none;
        }
      }
    }

    &:hover {
      background-color: color.$btn-bgColor-active;
      color: color.$color-active;

      #btn_dir--open {
        .icon {
          &#btn-icon-normal {
            display: none;
          }
          &#btn-icon-open {
            display: block;
          }
        }
      }
    }
  }
}
