@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";
@use "../../_style/area";

$bg-color: #fffff8;
$border-color: #6f6f6f;
$font-color-todo: #0e7405;

.history-item {
  background-color: $bg-color;

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid $border-color;
  border-left: 0.35rem solid $border-color;

  padding: 0.35rem;
  margin-bottom: 0.6rem;

  &.todo-flag {
    color: $font-color-todo;
    border-color: $font-color-todo;
  }

  #footer {
    position: relative;
    margin-top: 0.25rem;
    height: 1rem;

    #todo-item {
      position: absolute;
      left: 0.1rem;
      outline: none;
    }

    #history-date {
      position: absolute;
      top: 0.05;
      right: 1.5rem;
      outline: none;
    }

    #delete-history-item {
      position: absolute;
      right: 0.25rem;
    }
  }
}
