.component {
  &.search {
    position: relative;
    height: 50px;
    padding: 10px 10px;
    background-color: rgb(31, 116, 5);

    .icon-search {
      position: absolute;
      font-size: 1rem;
      line-height: 50px;
      top: 0;
      right: 15px;
    }

    .searchText {
      line-height: 20px;
      width: 100%;
      padding: 5px 10px;
      background-color: #fffff8;
      border-radius: 5px;
      outline: none;
    }
  }
}
