@use "_color" as color;

.contents-area {
  > .component {
    position: relative;
    height: 100%;
    width: 100%;

    &.hidden {
      display: none;
    }

    > .scroll {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::-webkit-scrollbar {
        width: 12px;
        background-color: color.$scroll-bg;
        border: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        box-shadow: inset 0 0 10px 10px color.$scroll-box-shadow;
        border: solid 4px transparent;
      }
    }

    .float-button {
      z-index: calc(infinity);
      position: fixed;

      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      background-color: color.$font;
      color: color.$main-theme;

      font-size: 1.8rem;
      transition: 0.2s ease-in;

      &.hidden {
        display: none;
      }

      &.code-open-button {
        right: 20px;
        bottom: 140px;
      }
      &.save-button {
        right: 20px;
        bottom: 80px;
      }
      &.exec-button {
        right: 20px;
        bottom: 20px;
      }
    }

    .float-button:hover {
      background-color: color.$main-theme;
      color: color.$font;
    }

    .float-button:active {
      font-size: 1.6rem;
    }

    &.editor {
      font-size: 0.9rem;
      .hidden {
        display: none;
      }
    }

    &.result {
      #result-area {
        padding: 0.5rem 1rem;
        background-color: color.$contents-bg;
        color: color.$font;
        font-size: 0.9rem;
        line-height: 1.2rem;
        overflow-y: auto;
      }
    }
  }
}
