@use "_color" as color;

.component {
  $drawer-width: 350px;

  &.drawer {
    position: fixed;
    left: $drawer-width * -1;
    top: 0;
    width: $drawer-width;
    height: 100%;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: color.$main-bg;
    transition: left 0.5s ease-in-out;

    &.show {
      left: 0;
    }

    #drawer-close {
      position: relative;
      left: $drawer-width - 50;
    }

    > .box-parent {
      .box-title {
        margin: 0.3rem 2px;
        font-weight: bold;
      }
      .box-child {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: color.$sub-bg;
        color: color.$font;
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
}
