.component {
  &.drawer {
    position: fixed;
    left: -350px;
    top: 0;
    width: 350px;
    height: 100%;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: #f0f0f0;
    transition: left 0.5s ease-in-out;

    &.show {
      left: 0;
    }

    #drawer-close {
      position: relative;
      left: 300px;
    }

    > .box-parent {
      .box-title {
        margin: 0.3rem 2px;
        font-weight: bold;
      }
      .box-child {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #505153;
        color: #fffffb;
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
}
