@use "_color" as color;

.component {
  &.tab {
    background-color: color.$main-bg;
    border-bottom: 1px solid color.$sub-theme;

    .tab-selector-root {
      display: flex;
      overflow-x: scroll;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-right: 1px solid color.$sub-theme;
        background-color: color.$main-bg;
        font-size: 0.9rem;
        transition: 0.2s ease-in;

        &.active {
          color: color.$font;
          background-color: color.$sub-theme;
        }

        &:hover {
          cursor: pointer;
          color: color.$font;
          background-color: color.$sub-theme;
        }
      }

      .tab-item {
        min-width: 130px;
        min-width: 130px;
        padding: 0 1rem;
        span:first-letter {
          margin-right: 0.2rem;
        }
      }
    }
    .tab-selector-root::-webkit-scrollbar {
      display: none;
    }
  }
}
