$base-color: #7aa5d2;
$sub-color: #fffffb;

.component {
  &.tab {
    border-bottom: 1px solid #7aa5d2;

    .tab-selector-root {
      display: flex;
      overflow-x: scroll;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-right: 1px solid $base-color;
        background-color: $sub-color;
        font-size: 0.9rem;
        transition: 0.2s ease-in;

        &.active {
          color: $sub-color;
          background-color: $base-color;
        }

        &:hover {
          cursor: pointer;
          color: $sub-color;
          background-color: $base-color;
        }
      }

      .tab-item {
        width: 130px;
        min-width: 130px;
        span:first-letter {
          margin-right: 0.2rem;
        }
      }
    }
    .tab-selector-root::-webkit-scrollbar {
      display: none;
    }
  }
}
