@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";
@use "../../_style/area";

#container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 30px 1fr;
  gap: 0em 0em;
  grid-template-areas:
    "treeview-menu contents-menu"
    "treeview contents";
  height: 100vh;

  #treeview-menu {
    grid-area: treeview-menu;
    background-color: cornflowerblue;
  }

  #contents-menu {
    grid-area: contents-menu;
    background-color: chartreuse;
  }

  #treeview {
    grid-area: treeview;
    padding: 0.5rem;
  }

  #contents {
    grid-area: contents;
    background-color: #d4f1ef;
  }
}
