@use "../../foundation/color";

.box-table--root {
  padding: 1rem 2rem;

  table {
    width: 100%;

    thead {
      background-color: color.$table-header-bgcolor;
      color: color.$table-header-color;
      text-align: center;

      tr {
        td {
          padding: 0.5rem 0;
          letter-spacing: 1px;

          &:first-child {
            border-top-left-radius: 0.3rem;
          }

          &:last-child {
            border-top-right-radius: 0.3rem;
          }
        }
      }
    }
  }
}
