@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$active-color: #0078d4;
$active-font-color: #fffff8;
$alert-color: #f93827;
$todo-color: #0e7405;
$complete-color: #838383;

.task-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration-skip-ink: none;

  border-radius: 0.15rem;
  padding: 0.15rem;

  transition: 0.2s;

  &:hover,
  &.menu-opened,
  &.selected {
    background-color: $active-color;
    color: $active-font-color;
  }

  &.over-deadline {
    color: $alert-color;

    &:hover,
    &.selected {
      background-color: $alert-color;
      color: $active-font-color;
    }
  }

  &.complete {
    color: $complete-color;
    text-decoration: line-through;

    &:hover,
    &.selected {
      background-color: $complete-color;
      color: $active-font-color;
    }
  }

  .svg-icon {
    margin-right: 0.25rem;
    height: 1rem;
    width: 1rem;
  }

  .task-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 1px;
  }

  .todo-flag {
    color: $todo-color;
  }

  &:hover,
  &.selected {
    .todo-flag {
      color: $active-font-color;
    }
  }
}
