@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

#header-menu {
  padding: 0.5rem;
  padding-bottom: 0;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0.5rem;

  details {
    summary {
      list-style: none;
    }
    .group-items {
      margin-left: 1.1rem;
    }
  }

  .dragging {
    opacity: 0.5;
  }

  .enabled {
    display: none;
  }
}
