{
  "colorPicker": [
    {
      "color": "color1",
      "name": "分類1"
    },
    {
      "color": "color2",
      "name": "分類2"
    },
    {
      "color": "color3",
      "name": "分類3"
    },
    {
      "color": "color4",
      "name": "分類4"
    },
    {
      "color": "color5",
      "name": "分類5"
    },
    {
      "color": "color6",
      "name": "分類6"
    },
    {
      "color": "color7",
      "name": "分類7"
    },
    {
      "color": "color8",
      "name": "分類8"
    },
    {
      "color": "color9",
      "name": "分類9"
    },
    {
      "color": "color10",
      "name": "分類10"
    }
  ]
}
