#root {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: calc(infinity);
  opacity: 0;
  transform: translateY(20px); // 初期位置を下にずらす
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  pointer-events: none;

  background-color: #333;
  color: #fffffb;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;

  &.show {
    opacity: 1;
    transform: translateY(0); // 元の位置に戻す
  }
}
