$bg-color: #fffff8;

#root {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 50px 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "bc-head-l bc-head-c bc-head-r"
    "bc-list bc-main bc-main";
  height: 100vh;
  transform: 0.2s;

  .head-outer {
    position: relative;

    .head-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);

      width: 100%;
    }
  }

  #bc-head-l {
    grid-area: bc-head-l;
  }

  #bc-head-c {
    grid-area: bc-head-c;

    .head-inner {
      padding: 0 2rem;
    }
  }

  #bc-head-r {
    grid-area: bc-head-r;

    .head-inner {
      padding: 0 2rem;
      text-align: right;

      .menu-btn {
        margin-left: 0.25rem;
      }
    }
  }

  #bc-list {
    grid-area: bc-list;
    background-color: #cfcfcf;
  }

  #bc-main {
    grid-area: bc-main;
    background-color: $bg-color;
    padding: 1rem 2rem;
  }
}
