@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$header-border-color: #003092;
$border-color: #8f8f8f;
$even-bg-color: #fff5e4 !important;

#root {
  display: none;
}

@media print {
  #root {
    display: block;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    #viewer {
      width: 210mm;
      margin: 0 auto;

      h1 {
        font-size: 1.5rem;
        font-weight: bold;
        word-break: break-all;

        width: 100%;
        padding-left: 5px;
        border-left: 10px solid $header-border-color;
      }

      h2 {
        font-size: 1.25rem;
        font-weight: bold;
        word-break: break-all;

        padding-left: 5px;
        border-left: 10px solid $header-border-color;

        margin-top: 1.35rem;
        margin-bottom: 0.75rem;
      }

      .memo {
        word-break: break-all;
        width: 210mm;
      }

      tbody {
        tr {
          border-bottom: 1px solid $border-color;

          &.list {
            &:nth-of-type(even) {
              background-color: $even-bg-color;
            }
          }

          td {
            padding: 0.5rem;

            &.index {
              width: 50mm;
            }

            &.content {
              word-break: break-all;
              width: 170mm;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
}
