@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$circle-bg-color: #0a3981;
$circle-font-color: #fffffb;
$circle-border-color: #0a3981;
$circle-bg-color-hover: #fffff8;
$circle-font-color-hover: #0a3981;
$circle-border-color-hover: #0a3981;
$circle-shodow-color: rgba(0, 0, 0, 0.1);

.circle {
  color: $circle-font-color;
  background-color: $circle-bg-color;
  border: 1px solid $circle-border-color;
  box-shadow: 0px 3px 3px 0px $circle-shodow-color;

  padding: 0.5rem;
  border-radius: 50%;

  &:hover {
    color: $circle-font-color-hover;
    background-color: $circle-bg-color-hover;
    border-color: $circle-border-color-hover;
  }

  .svg-icon {
    font-size: 1.8rem;
  }
}
