@use "../../_style/destyle";
@use "../../_style/svg";
@use "../../_style/font";

$outer-border-color: #8f8f8f;
$inner-border-color: #5f5f5f;
$menu-bg-color: #2b2b2b;
$btn-area-bg-color-hover: #0078d4;
$btn-area-font-color: #fffffb;
$btn-area-font-color-hover: #fffffb;
$btn-area-font-color-disabled: #8f8f8f;

#context-area {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;

  &.open {
    display: block;
  }

  #context-menu {
    position: absolute;
    z-index: 100000;

    background-color: $menu-bg-color;
    border: 1px solid $outer-border-color;
    border-radius: 0.25rem;
    padding: 0.25rem;

    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    &.show {
      opacity: 1;
    }

    .button-area {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0.2rem 0.5rem;

      color: $btn-area-font-color;

      transition: 0.2s;

      &:hover {
        border-radius: 0.25rem;
        background-color: $btn-area-bg-color-hover;
        color: $btn-area-font-color-hover;
      }

      .svg-icon {
        margin-right: 0.25rem;
        height: 1rem;
        width: 1rem;
      }

      .button-text {
        padding-top: 1px;
      }

      &.disabled {
        color: $btn-area-font-color-disabled;
        &:hover {
          background-color: transparent;
        }
      }
    }

    hr {
      margin: 0.25rem 0;
      height: 1px;
      background-color: $inner-border-color;
      border: none;
    }
  }
}
