@use "../../_style/destyle";
@use "../../_style/font";
@use "../../_style/svg";

$caption-color: #4f4f4f;
$caption-bg-color: #d4f1ef;

$h-bg-color: #211c84;
$h-font-color: #fffffb;

$d-bg-color: #fffffb;
$d-bg-color-even: #eeeeee;
$d-font-color: #00000b;
$d-font-color-link: #003092;

$alert-color: #f93827;
$complete-color: #838383;

#root {
  height: 100%;

  table {
    width: 100%;

    thead {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;

      tr {
        &#caption {
          background-color: $caption-bg-color;
          height: 1.5rem;
          th {
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 1rem;
            color: $caption-color;

            position: relative;

            .svg-icon {
              position: absolute;
              height: 1rem;
              width: 1rem;
              margin-right: 0.2rem;
            }

            p {
              position: absolute;
              left: 1.15rem;
              padding-top: 0.1rem;
            }
          }
        }

        &#header-items {
          th {
            background-color: $h-bg-color;
            color: $h-font-color;

            font-weight: bold;
            text-align: center;
            padding: 0.5rem;

            &:first-child {
              border-top-left-radius: 0.25rem;
            }

            &:last-child {
              border-top-right-radius: 0.25rem;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: $d-bg-color-even;
          }
        }

        td {
          background-color: $d-bg-color;
          color: $d-font-color;
          max-width: 300px;
          line-height: 2rem;
          padding: 0 0.5rem;

          &.clickable {
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              text-decoration: underline;
              color: $d-font-color-link;
            }
          }

          &.center {
            text-align: center;
            .svg-icon {
              vertical-align: middle;
            }
          }
          &.right {
            text-align: right;
            .svg-icon {
              vertical-align: right;
            }
          }
          &.left {
            text-align: left;
          }

          div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .svg-icon {
            display: inline-block;
            font-size: 1rem;
          }
        }

        &.complete {
          td {
            color: $complete-color;
            text-decoration: line-through;
          }
        }

        &.alert {
          td {
            color: $alert-color;
          }
        }
      }
    }
  }
}
