@use "../../_style/destyle";
@use "../../_style/font";
@use "../../_style/svg";

$bg-color: #fffff8;
$border-color: #6f6f6f;

.hidden {
  display: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

textarea {
  outline: none;
  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  line-height: 1.1rem;
  padding: 0.35rem 0.25rem;
  resize: none;
  overflow-y: hidden;
  word-break: break-all;

  &.borderless {
    $borderless-bg-color-hover: #efefef;
    padding: 0.15rem 0.25rem;
    border: none;

    transition: 0.2s;

    &:hover,
    &:focus {
      background-color: $borderless-bg-color-hover;
    }
  }
}

#view-area {
  $link-color: #000000;
  $link-color-hover: #fffff8;
  $link-bgcolor: #fffdec;
  $link-bgcolor-hover: #0078d4;

  padding-top: 0.2rem;

  ul {
    width: 100%;

    li {
      position: relative;

      width: 100%;
      word-break: break-all;

      line-height: 1.3rem;
      padding-left: 1.5rem;
      padding-right: 0.25rem;
      margin-bottom: 0.25rem;

      border-radius: 0.25rem;
      color: $link-color;
      background-color: $link-bgcolor;
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        color: $link-color-hover;
        background-color: $link-bgcolor-hover;
      }

      &:active {
        color: $link-bgcolor-hover;
        background-color: $link-color-hover;
      }

      .svg-icon {
        position: absolute;
        left: 0.25rem;
        top: 0.15rem;

        width: 1rem;
        height: 1rem;
      }
    }
  }
}

#edit-btn-area {
  text-align: right;
  margin-top: 0.15rem;
}
