@use "../../_style/destyle";
@use "../../_style/font";
@use "../../_style/svg";

$legend-color: #4f4f4f;
$requied-color: #fb4141;

fieldset {
  position: relative;
  padding-bottom: 1.25rem;

  &.item-less {
    padding-bottom: 0;
  }

  legend {
    margin-bottom: 0.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    line-height: 1rem;

    color: $legend-color;

    .svg-icon {
      height: 1rem;
      width: 1rem;
      margin-right: 0.2rem;
    }

    p {
      padding-top: 0.1rem;
    }

    &.isRequired {
      &:after {
        content: "*";
        margin-left: 0.05rem;
        color: $requied-color;
        font-size: 0.85rem;
        padding: 0.15rem 0.15rem;
        line-height: 0.75rem;
      }
    }

    &.head-less {
      display: none;
    }
  }

  &.nestedRoot {
    display: flex;
  }

  &.nested {
    margin-top: 0.25rem;
    margin-right: 0.35rem;
    padding-bottom: 0;
  }
}
