@use "./common/destyle";
@use "./common/svg";
@use "./common/color";
@use "./common/font";
@use "./elements/floatButton";

.wrap-item {
  padding-bottom: 0.75rem;

  &.dragging {
    opacity: 0.5;
  }
}

#menu-container {
  background-color: color.$form-item-bg-color;
  border: 1px solid color.$history-item-border-color;
  border-radius: 0.25rem;
  padding: 0.35rem;
  margin-bottom: 0.75rem;

  @mixin mark-style($left, $color) {
    margin-right: 0.3rem;
    color: color.$form-item-icon-color-deactive;
    .icon {
      height: 1.25rem;
      width: 1.25rem;
    }

    &:hover {
      color: $color;
    }

    &[data-mark="true"] {
      color: $color;
    }
  }

  #flag-item {
    @include mark-style(5rem, color.$history-item-icon-color-flag);
  }

  #star-item {
    @include mark-style(6.5rem, color.$history-item-icon-color-star);
  }

  #flame-item {
    @include mark-style(8rem, color.$history-item-icon-color-flame);
  }

  #pin-item {
    @include mark-style(9.5rem, color.$history-item-icon-color-pin);
  }
}
