@use "./common/destyle";
@use "./common/svg";
@use "./common/color";
@use "./common/font";
@use "./elements/floatButton";

#container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 30px 30px 1fr;
  gap: 0em 0em;
  grid-template-areas:
    "grid-tree-control grid-task-control grid-history-control"
    "grid-tree grid-task grid-history"
    "grid-tree grid-task grid-history";
  height: 100vh;

  #grid-tree-control {
    grid-area: grid-tree-control;
    background-color: color.$grid-tree-bg-color;
    padding: 0 0.5rem;
  }
  #grid-task-control {
    grid-area: grid-task-control;
    background-color: color.$grid-task-bg-color;
    padding: 0 0.5rem;
  }
  #grid-history-control {
    grid-area: grid-history-control;
    background-color: color.$grid-history-bg-color;
    padding: 0 0.5rem;
  }
  #grid-tree {
    grid-area: grid-tree;
    background-color: color.$grid-tree-bg-color;
    padding: 0.5rem;
  }
  #grid-task {
    grid-area: grid-task;
    background-color: color.$grid-task-bg-color;
    padding: 1rem;
  }
  #grid-history {
    grid-area: grid-history;
    background-color: color.$grid-history-bg-color;
    padding: 1rem;
    padding-bottom: 8rem;
  }
  .scroll {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
