@use "./common/destyle";
@use "./common/color";
@use "./common/font";
@use "./elements/filedset";

input[type="date"] {
  outline: none;
  background-color: color.$form-item-bg-color;
  border: 1px solid color.$form-item-border-color;
  border-radius: 0.25rem;
  line-height: 1.5rem;
  padding: 0.1rem 0.25rem;
}

#deadline {
  margin-left: 0.15rem;

  &.reach {
    color: color.$form-item-duedate-deadline-reach;
    font-weight: bold;
  }
}
